<div class="card-deck col-sm-4 col-xs-12">
    <div class="card">
        <a href="{{ path_for('product.get', {slug: product.slug}) }}">
            <img class="card-img-top" src="{{ product.image }}" alt="{{ product.title }} image">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <a href="{{ path_for('product.get', {slug: product.slug}) }}" class="btn btn-primary">View</a>
        </div>
    </div>
</div>