{% extends 'templates/app.html' %}

{% block content %}
    <form action="#" method="POST">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Your Details</h3>
                        <hr/>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control" type="email" name="email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control" type="text" name="name" id="name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Shipping address</h3>
                        <hr/>
                        <div class="form-group">
                            <label for="adrress1">Address line 1</label>
                            <input class="form-control" type="text" name="adrress1" id="adrress1">
                        </div>
                        <div class="form-group">
                            <label for="adrress2">Address line 2</label>
                            <input class="form-control" type="text" name="adrress2" id="adrress2">
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input class="form-control" type="text" name="city" id="city">
                        </div>
                        <div class="form-group">
                            <label for="zip">Zip code</label>
                            <input class="form-control" type="text" name="zip" id="zip">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </form>
{% endblock %}