{% extends 'templates/app.html' %}

{% block content %}
    <form action="{{ path_for('order.create') }}" method="POST">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Your Details</h3>
                        <hr/>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input class="form-control {% if errors.email %} is-invalid {% endif %}"
                                type="email" name="email" id="email" value="{{ old.email }}">
                            {% if errors.email %}
                                <span class="invalid-feedback">
                                    {{ errors.email | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input class="form-control {% if errors.name %} is-invalid {% endif %}"
                                type="text" name="name" id="name" value="{{ old.name }}">
                            {% if errors.name %}
                                <span class="invalid-feedback">
                                    {{ errors.name | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Shipping address</h3>
                        <hr/>
                        <div class="form-group">
                            <label for="address1">Address line 1</label>
                            <input class="form-control {% if errors.address1 %} is-invalid {% endif %}"
                                type="text" name="address1" id="address1" value="{{ old.address1 }}">
                            {% if errors.address1 %}
                                <span class="invalid-feedback">
                                    {{ errors.address1 | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="address2">Address line 2</label>
                            <input class="form-control {% if errors.address2 %} is-invalid {% endif %}"
                                type="text" name="address2" id="address2" value="{{ old.address2 }}">
                            {% if errors.address2 %}
                                <span class="invalid-feedback">
                                    {{ errors.address2 | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input class="form-control {% if errors.city %} is-invalid {% endif %}"
                                type="text" name="city" id="city" value="{{ old.city }}">
                            {% if errors.city %}
                                <span class="invalid-feedback">
                                    {{ errors.city | first }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="zipcode">Zip code</label>
                            <input class="form-control {% if errors.zipcode %} is-invalid {% endif %}"
                                type="text" name="zipcode" id="zipcode" value="{{ old.zipcode }}">
                            {% if errors.zipcode %}
                                <span class="invalid-feedback">
                                    {{ errors.zipcode | first }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-body bg-light">
                    <h5>Your Order</h5>
                    {% include 'cart/partials/contents.html' %}
                    {% include 'cart/partials/summary.html' %}

                    <button class="btn btn-outline-secondary" type="submit">Place order</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}